# Data Science Tools and Ecosystem

**Objective :**
- List popular languages for Data Science.
- Explore commonly used Data Science libraries and tools.
- Understand the importance of Jupyter Notebook in Data Science workflows.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Java
2. Julia
3. Scala

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
|Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bondy